[openerp]
host = localhost
port = 8069
user = admin
password = admin
database = test
pos_pricelist = 1

[hapier]
port = 3000

[couchdb_log]
db = logs
host = localhost
port = 5984
# Set user and password if your CouchDB requires it
#user = admin
#password = password